!!! 5
%html
  %head
    %title full-height-menu
    :sass
      ul
        display: block
        position: absolute
        top: 0
        bottom: 0
        li
          display: table
          height: 100%
          float: left
          a
            display: table-cell
            vertical-align: middle
            padding: 10px

  %body
    %ul
      - 5.times do |n|
        %li 
          %a{href: 'https://github.com/bkerley/full-height-menu', style: "background-color: ##{(0x101 * n).+(0xA0A).to_s(16)}"} item #{n} #{'xxxxx' * n}
      %li
        %a{href: 'https://github.com/bkerley/full-height-menu', style: 'background-color: #0f4'} see my github
